@keyframes example {
    from {
        color: black;
        background-color: white;
    }
    to {
        color: white;
        background-color: black;
    }
}

body {
    /* background-color: black; */
    padding: 0;
    color: white;
    background-color: black;
    animation-name: example;
    animation-duration: 2s;
    font-family: verdana;
}

h2 {
    text-align: center
}

.square,
.expl {
    width: 200px;
    height: 200px;
    outline: 1px solid red;
    text-align: center;
    vertical-align: middle;
    cursor: pointer
}

.expl:before {
    content: '💥';
    display: block;
    height: 100%;
    left: 0;
    text-align: center;
    font-size: 5em;
    line-height: 200px;
}

.square:before {
    content: '💣';
    display: block;
    height: 100%;
    left: 0;
    text-align: center;
    font-size: 5em;
    line-height: 200px;
}

.square:hover,
.expl:hover {
    background-color: #555;
}