body {
    background-color: #26f;
    color: white;
    padding: 0;
    margin: 50px;
    /* border: 15px solid red; */
    /* border-radius: 15px */
    /* height:5000px */
}

* {
    font-family: verdana;
}